# Stock Market Data Query Engine

Here we showcase our `StockMarketDataQueryEnginePack`.

In [1]:
from llama_index.llama_pack import download_llama_pack

StockMarketDataQueryEnginePack = download_llama_pack(
    "StockMarketDataQueryEnginePack",
    "./stock_market_data_pack",
    # llama_hub_url="https://raw.githubusercontent.com/run-llama/llama-hub/jerry/fix_stock_market/llama_hub"
)

#### Initialize Pack

In [7]:
from llama_index.llms import OpenAI

llm = OpenAI(model="gpt-4-1106-preview")

In [9]:
stock_market_data_pack = StockMarketDataQueryEnginePack(
    ["MSFT", "AAPL", "GOOG", "AMZN", "NVDA", "META", "TSLA", "CRM", "AMD", "INTC"],
    period="1mo",
    llm=llm,
)

In [10]:
stock_market_data_pack

In [11]:
modules = stock_market_data_pack.get_modules()
# AAPL
modules["stocks market data"][1]

,year,month,day,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2023,12,19,196.160004,196.949997,195.889999,196.940002,40714100,0.0,0.0
1,2023,12,20,196.899994,197.679993,194.830002,194.830002,52242800,0.0,0.0
2,2023,12,21,196.100006,197.080002,193.500000,194.679993,46482500,0.0,0.0
3,2023,12,22,195.179993,195.410004,192.970001,193.600006,37122800,0.0,0.0
4,2023,12,26,193.610001,193.889999,192.830002,193.050003,28919300,0.0,0.0
5,2023,12,27,192.490005,193.500000,191.089996,193.149994,48087700,0.0,0.0
6,2023,12,28,194.139999,194.660004,193.169998,193.580002,34049900,0.0,0.0
7,2023,12,29,193.899994,194.399994,191.729996,192.529999,42628800,0.0,0.0
8,2024,1,2,187.149994,188.440002,183.889999,185.639999,82488700,0.0,0.0
9,2024,1,3,184.220001,185.880005,183.429993,184.250000,58414500,0.0,0.0
10,2024,1,4,182.149994,183.089996,180.880005,181.910004,71983600,0.0,0.0
11,2024,1,5,181.990005,182.759995,180.169998,181.179993,62303300,0.0,0.0
12,2024,1,8,182.089996,185.600006,181.500000,185.559998,59144500,0.0,0.0
13,2024,1,9,183.919998,185.149994,182.729996,185.139999,42841800,0.0,0.0
14,2024,1,10,184.350006,186.399994,183.919998,186.190002,46792900,0.0,0.0
15,2024,1,11,186.539993,187.050003,183.619995,185.589996,49128400,0.0,0.0
16,2024,1,12,186.059998,186.740005,185.190002,185.919998,40444700,0.0,0.0
17,2024,1,16,182.160004,184.259995,180.929993,183.630005,65603000,0.0,0.0
18,2024,1,17,181.270004,182.929993,180.300003,182.679993,47317400,0.0,0.0
19,2024,1,18,186.089996,189.139999,185.830002,188.630005,77921000,0.0,0.0

## Try Out Some Queries

In [12]:
response = stock_market_data_pack.run("What is the average closing price for MSFT?")

Retrieving with query id None: What is the average closing price for MSFT?
Retrieved node with id, entering: pandas0
Retrieving with query id pandas0: What is the average closing price for MSFT?
Got response: 377.45850067138673

In [15]:
response = stock_market_data_pack.run(
    "What is AAPL's trading volume on the day after Christmas?"
)

Retrieving with query id None: What is AAPL's trading volume on the day after Christmas?
Retrieved node with id, entering: pandas1
Retrieving with query id pandas1: What is AAPL's trading volume on the day after Christmas?
Got response: 28919300